<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
        backupGlobals="false"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <testsuites>
        <testsuite name="app">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage includeUncoveredFiles="true"
          pathCoverage="false"
          ignoreDeprecatedCodeUnits="true"
          disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/html" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <php>
        <env name="app.baseURL" value="http://example.com"/>
        <env name="database.tests.hostname" value="127.0.0.1"/>
        <env name="database.tests.database" value="casbin"/>
        <env name="database.tests.username" value="root"/>
        <env name="database.tests.password" value=""/>
        <env name="database.tests.DBDriver" value="MySQLi"/>
    </php>

</phpunit>
